* {
    margin: 0;
    box-sizing: border-box;
}
#conteiner {
    width: 99%;
    margin: 0 auto;
    margin-top: 2px;
    }
    
    header {
        min-height: 51.5vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .our,.our2,.otzyv {
        font-family: "Open Sans";
        color: #410E54;
        font-size: 17px;
        line-height: 23px;
    }
    .our,.otzyv {
        font-weight: 600;
    }
    .our {
      width: 200px;
        padding-top: 45px;
      align-self: center;
    }
.otzyv {
margin-top: 60px;
align-self: center;
}
    .flexbox {
        display: flex;
        margin:20px 25px 0 30px;
        justify-content: space-around;
        align-items:baseline;
    }
    .our2 {
    flex: 1;
    margin: 40px 20px 0px 30px;
    }
  .our2::before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 auto 40px auto;
      position: relative;
      right: 30px;   
  }  

  .our2.foto1::before{
      background: url("img/phone.png");
      background-size: cover;
  }

  .our2.foto2::before{
      background: url("img/palma.png");
      background-size: cover;
  }
  .our2.foto3::before {
      background: url("img/hotel.png");
      background-size: cover;
  }
  .our2.foto4::before {
      background: url("img/service.png");
      background-size: cover;
  }

