* {
    margin: 0;
    box-sizing: border-box;
}
#conteiner {
    width: 99%;
    margin: 0 auto;
    margin-top: 2px;
    }
    
    header {
        height: 51.5vh;
        width: 100%;
        background-color: gold;
       position: relative;
    }
    .our,.our2,.otzyv {
        font-family: "Open Sans";
        color: #410E54;
        font-size: 1.5vmax;
        line-height: 23px;
    }
    .our,.otzyv {
        font-weight: 600;
    }
    .our {
      width: 100%;
        padding-top: 45px;
        margin: 0 auto;
        text-align: center;
    }
.otzyv {
    width: 100%;
text-align: center;
margin: 0 auto;
position: absolute;
bottom: 40px;
}
    .flexbox {
        display: flex;
        margin:24px 25px 10px 30px;
        justify-content: space-around;
    }
    .our2 {
    width: 20vw;
    margin-top: 30px;
    }
  .our2::before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      
      
  }  

  .our2.foto1::before{
      background: url("img/phone.png");
      background-size: cover;
  }

  .our2.foto2::before{
      background: url("img/palma.png");
      background-size: cover;
  }
  .our2.foto3::before {
      background: url("img/hotel.png");
      background-size: cover;
  }
  .our2.foto4::before {
      background: url("img/service.png");
      background-size: cover;
  }

  main {
      
  }

