* {
    margin: 0;
    box-sizing: border-box;
}
#conteiner {
    width: 99%;
    margin: 0 auto;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    }
    
    header {
        min-height: 45vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .our,.our2,.otzyv,.turist,.zayava {
        font-family: "Open Sans";
        color: #410E54;
        font-size: 1rem;
        line-height: 23px;
    }
    .our,.otzyv,#otpavka,.zayava {
        font-weight: 600;
    }
    .our {
      width: 50%;
        padding-top: 45px;
      margin: 0 auto;
      text-align: center;
    }
.otzyv {
margin-top: 30px;
align-self: center;
}
    .flexbox {
        display: flex;
        margin:20px 25px 0 30px;
        justify-content: space-around;
        align-items:baseline;
    }
    .our2 {
    flex: 1;
    margin: 40px 20px 0px 30px;
    }
  .our2::before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 auto 40px auto;
      position: relative;
      right: 30px; 
       
  }  

  .our2.foto1::before{
      background: url("img/phone.png");
      background-size: 100%
  }

  .our2.foto2::before{
      background: url("img/palma.png");
      background-size: 100%;
  }
  .our2.foto3::before {
      background: url("img/hotel.png");
      background-size: cover;
  }
  .our2.foto4::before {
      background: url("img/service.png");
      background-size: cover;
  }
 main {
      width: 100%;
      /* height: 100vh; */
      background: url(img/bg_main.jpg);
      background-size:100% 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
  }
  article {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
  }
  .kvadrat {
      width:50vw; 
      height: 26vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .kvadrat,article::before,article::after,#name,#phone{
    background-color:rgba(30, 6, 33, 0.4);
  }
  article::before,article::after {
font-size: 3rem;
width: 30px;
height: 50px;
text-align: center;
line-height: 44px;
vertical-align: middle;
color: #ffff;
font-weight: 400;
  }
  article::after {
      content: "›";
      margin-right: 30px;
  }
  article::before {
    content: "‹";
  }
 
  .turist {
      color:#ffff;
      padding: 10px 15px 10px 25px;
  }

  .photo {
      background: url(img/turisto.jpg);
      width: 24vw;
      max-width: 500px;
      min-width: 300px;
      height: 45vh;
      background-size: 100% 100%;
  }
  #forValidator {
      display: none ;
  }

  #form {
      width: 100%;
      min-height: 50vh;
      margin-top: 50px;
     display: flex;
     flex-direction: column; 
     align-items: center;
     justify-content: flex-start;
  }

  #name,#phone,#otpavka {
      width: 30vw;
      height: 7vh;
      color:#ffff;
      text-align: center;
      font-size: 1rem;
      border: none;
      margin-top: 20px; 
  }
  .zayava {
      margin-bottom: 30px;
  }

  input::placeholder {
      color: #ffff;
  }
  #otpavka {
      color:#410E54;
      cursor: pointer;
      margin-top: 50px;
  }
  footer {
      height: 12vh;
      width: 100%;
      background-color: rgba(30, 6, 33, 0.66);
      opacity: .5;
  }







